@media all and (max-width: 1750px) {
  html {
    font-size: 58%;
  }
}

@media all and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .pageContainer {
    left: 0!important;
    padding: 2rem!important;
  }
  .dashboardHeader {
    width: 100%;
    .container {
      margin: 0 auto;
      max-width: 100%;
      padding: 0 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .overviewContent {
    flex-direction: column;
    .InvoicesPaid {
      margin: 2rem auto 0 auto;
      flex: 0 0 100%;
      width: 100%;
    }
  }
  .settings {
      .content {
        flex-direction: column;
      }
      .pageContainer {
        .box {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
  }
  .invoices {
    .invoicesContainer {
      max-width: 100%;
      transform: translateX(-50%);
      .cardWrap {
        flex: 1 0 48%;
        gap: 2rem;
      }
    }
  }
  .overview {
    .tabs-wrap {
      flex: 0 0 100%;
      width: 100%;
      .tab-item, .active-tab {
        padding: 3rem;
      }
    }
    .container {
      max-width: 100%;
      margin: 0 auto;
      left: 50%;
      padding: 0 2rem;
      transform: translateX(-50%);
      .overviewContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .MoneyMade {
          width: 100%;
          flex: 0 0 100%;
          margin: 5rem auto 0 auto;
          .moneyMadeContainer {
            gap: 2rem;
            .clientCard {
              flex: 1 0 48%;
            }
          }
        }
        .InvoicesPaid {
          width: 100%;
          flex: 0 0 100%;
          margin: 5rem auto 0 auto;
        }
        .tabs-wrap {
          width: 100%;
          justify-content: space-between;
          margin: 0 auto;
          gap: 2rem;
          height: auto;
          .tab-item, .active-tab {
            height: 13rem;
            flex: 1 0 48%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .invoices .cards {
    grid-template-columns: 1fr;
  }
}
