.settings {
  .pageContainer {
    @include DashboardContainer();
    h1 {
      @include PageTitle;
      color: white;
      width: 100%;
    }
    h2 {
      margin-bottom: 2rem;
      color: white;
    }
    h3 {
      text-align: left;
      width: 80%;
      color: white;
      margin: 0 auto 1rem auto;
    }
    .content {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      gap: 2rem;
      justify-content: space-between;
    }
    input {
      @include formInput();
    }
    .info {
      height: 37rem!important;
    }
    .box {
      flex: 0 0 48%;
      padding: 4rem 2rem;
      max-width: 50%;
      text-align: center;
      height: auto;
      background: $darkgrey;
      border-radius: 1rem;
      border: 2px solid $border;
      form {
        width: 100%;
        margin: 0 auto;
      }
      button {
        width: 80%;
        margin-top: 2rem;
      }
    }
    .account {
      width: 100%;
      max-width: 50%;
      border-radius: 1rem;
      border: 3px solid $black;
    }
  }
}
