$pink: #FF7193;
$blue: #71AAFF;
$black: black;
$purple: #5f62ff;
$white: white;
$darkgrey: #171717;
$border: #252525;

/*Titles*/

$bigHeading: 5rem;
$contentHeading: 3rem;

/*Content*/

$body: 1.8rem;
$textcolor: white;

/*Dashboard Page*/

@mixin PageTitle {
  color: black;
  font-size: 4rem;
}

@mixin DashboardContainer {
  position: relative;
  width: 100%;
  top: 15vh;
  max-width: 150rem;
  padding: 0 0 5rem 0;
  left: 16vw;
  height: 100%;
}

@mixin button {
  background: $purple;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transition: all 0.3s;
    background-color: darken($purple, 5%);
  }
}

@mixin blackButtonShadow {
  //filter: drop-shadow(4px 7px 0px $pink);
  background: #5f62ff;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 5rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background: darken($purple, 5%);
    color: white;
  }
  &:focus {
    outline: none;
    filter: drop-shadow(0px 0px 0px #000000);
    transition: all 0.3s;
    transform: translateY(5px);
  }
}

@mixin formInput {
  border: 2px solid #383838;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  background: #252525;
  width: 80%;
  color: white;
  margin: 1rem auto 0 auto;
  transition: all 0.3s;
  font-family: Poppins, sans-serif;
  &:focus {
    border: 2px solid $pink;
    outline: 0;
    transition: all 0.3s;
  }
  &::placeholder {
    color: white;
    font-weight: bold;
  }
}

@mixin whiteButtonShadow {
  filter: drop-shadow(4px 7px 0px $purple);
  background: white;
  font-family: "Poppins", sans-serif;
  padding: 0 5rem;
  font-weight: 400;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #000000);
    transition: all 0.3s;
    transform: translateY(5px);
  }
  &:focus {
    outline: none;
    filter: drop-shadow(0px 0px 0px #000000);
    transition: all 0.3s;
    transform: translateY(5px);
  }
}

