.header {
  width: 100%;
  max-width: 140rem;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  h1 {
    font-weight: bold;
  }
}

.pdfPage {
  @include DashboardContainer();
  height: 90rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.flipCaret {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.pageContainer {
  @include DashboardContainer();
}

.dropdown {
  width: 100%;
  max-width: 13rem;
  position: relative;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  .main {
    background: $black;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .menu {
    padding: 1rem 1.8rem;
    position: absolute;
    text-align: left;
    top: 4rem;
    background: white;
    width: 100%;
    margin-top: 0.5rem;
    border: 2px solid $black;
    border-radius: 0.7rem;
     p {
       color: black;
       padding: 0.4rem 0;
       font-size: 1.4rem;
       font-weight: bold;
       transition: all 0.3s;
       &:hover {
         cursor: pointer;
         color: $blue;
         transition: all 0.3s;
       }
     }
  }
  .icon {
    color: white;
  }
  p {
    color: white;
  }
}

h1 {
  @include PageTitle();
}

.searchBox {
  position: relative;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.8rem;
  padding: 1rem;
  .icon {
    position: absolute;
    top: 1.5rem;
    right: 1.3rem;
    font-size: 2rem;
  }
  input {
    width: 100%;
    max-width: 24rem;
    outline: 0;
    border: 0;
    transition: all 0.3s;
    font-weight: bold;
    color: black;
    font-family: Poppins, 'sans-serif';
    &::placeholder {
      color: black;
      font-weight: bold;
    }
    &:focus {
      outline: 0;
      transition: all 0.3s;
    }
  }
}

.button {
  @include button();
  background: $blue;
  padding: 0 3rem;
  &:hover {
    background: darken($blue, 5%);
  }
}

.disabledButton {
  background-color: #767676 !important;
  &:hover {
    cursor: not-allowed!important;
  }
}

.pink {
  color: $pink;
}

.green {
  color: #01c101;
}

.form-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

footer  {
  background: black;
  .container {
    padding: 10rem 2rem;
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .col:nth-child(1) {
    p {
      margin-top: 0.5rem;
    }
  }
  .col {
    .list {
      display: inline-block;
      margin: 0 5rem;
      ul {
        margin-top: 2rem;
      }
    }
  }
  h3 {
    font-size: $contentHeading;
  }
  p, li {
    font-size: 1.5rem;
  }
  p, h3, li {
    color: white;
  }
  li {
    list-style: none;
    line-height: 3rem;
  }
}

@media all and (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .col:nth-child(2) {
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      .list:nth-child(2) {
        margin-top: 3rem;
      }
    }
  }
}
