.header {
  width: 100%;
  max-width: 140rem;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  h1 {
    font-weight: bold;
  }
}

textarea {
  @include formInput;
  width: 100%;
  position: relative;
  margin: 0;
  height: 10rem;
  resize: none;
  &::placeholder {
    font-weight: normal;
  }
}

.textAreaButton {
  @include PurpleButton();
  height: 4rem;
  padding: 0 3rem;
  margin-top: 1rem;
}

.success {
  background-color: #3db573 !important;
}

.noContent {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 2rem;
  position: absolute;
  transform: translate(-50%, 10%);
  left: 50%;
  h2 {
    color: white;
    font-size: 3rem;
  }
  p {
    color: lighten($darkgrey, 50%);
    width: 100%;
    max-width: 100%;
    line-height: 3rem;
    margin: 1rem auto 5rem auto;
    font-size: 1.6rem;
  }
}

.ModalWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  .Modal {
    width: 100%;
    max-width: 50rem;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    background-color: $darkgrey;
    border-radius: 1rem;
    .loading {
      text-align: center;
      margin: 2rem 0 0 0;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.pdfPage {
  @include DashboardContainer();
  height: 90rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.flipCaret {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.pageContainer {
  @include DashboardContainer();
}

li,
ul {
  list-style: none;
}

.pinkButton {
  @include PinkButton();
}

.purpleButton {
  @include PurpleButton();
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
  border-bottom-color: $darkgrey !important;
}

.react-datepicker {
  background-color: $darkgrey !important;
  border: 1px solid $inputborder !important;
  transform: scale(1.4);
}

.datePicker {
  .react-datepicker__header {
    background: $darkgrey;
    border-bottom-color: $inputborder;
    color: white;
  }
  .react-datepicker__navigation {
    width: 20px;
    height: 20px;
  }
  .react-datepicker__day {
    &:hover {
      background: $blue;
    }
  }
  .react-datepicker__day--selected {
    background: $purple;
  }
  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: white;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: white;
  }
}

.dropdown {
  width: 100%;
  max-width: 13rem;
  position: relative;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  .main {
    background: $purple;
    display: flex;
    align-items: center;
    font-size: 1.4rem !important;
    border-radius: 0.5rem;
    transition: all 0.3s;
    justify-content: space-between;
    padding: 1rem 2rem;
    p {
      font-size: 1.4rem !important;
    }
  }
  .menu {
    padding: 1rem 1.8rem;
    position: absolute;
    text-align: left;
    top: 4rem;
    background: $darkgrey;
    width: 100%;
    margin-top: 0.5rem;
    border: 2px solid $border;
    border-radius: 0.7rem;
    p {
      color: white;
      padding: 0.4rem 0;
      font-size: 1.4rem !important;
      transition: all 0.3s;
      &:hover {
        cursor: pointer !important;
        color: $purple !important;
        transition: all 0.3s !important;
      }
    }
  }
  .icon {
    color: white;
  }
  p {
    color: white;
  }
}

h1 {
  @include PageTitle();
  color: $textcolor;
}

.unpaid {
  color: #ff8282!important;
}
.paid {
  color: #77e277!important;
}

.searchBox {
  position: relative;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  border: 2px solid $inputborder;
  border-radius: 0.8rem;
  background: $input;
  padding: 1rem;
  .icon {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    color: white;
  }
  input {
    width: 100%;
    max-width: 24rem;
    outline: 0;
    background: transparent;
    border: 0;
    transition: all 0.3s;
    font-weight: bold;
    color: white;
    font-family: Poppins, "sans-serif";
    &::placeholder {
      color: white;
      font-weight: normal;
    }
    &:focus {
      outline: 0;
      transition: all 0.3s;
    }
  }
}

.button {
  @include button();
  padding: 0 3rem;
}

.bold {
  font-weight: bold;
}

.disabledButton {
  background-color: #767676 !important;
  &:hover {
    cursor: not-allowed !important;
  }
}

.pink {
  color: $pink;
}

.green {
  color: #01c101;
}

.form-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

footer {
  background: $darkgrey;
  border-top: 2px solid $border;
  .container {
    padding: 10rem 2rem;
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .col:nth-child(1) {
    p {
      margin-top: 0.5rem;
    }
  }
  .col {
    .list {
      display: inline-block;
      margin: 0 5rem;
      ul {
        margin-top: 2rem;
      }
    }
  }
  h3 {
    font-size: $contentHeading;
  }
  p,
  li {
    font-size: 1.5rem;
  }
  p,
  h3,
  li {
    color: white;
  }
  li {
    list-style: none;
    line-height: 3rem;
  }
}

@media all and (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .col:nth-child(2) {
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      .list:nth-child(2) {
        margin-top: 3rem;
      }
    }
  }
}
