.registerPage {
  width: 100%;
  height: 100%;
  .registerForm {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 110rem;
    height: 65rem;
    border: 2px solid $border;
    border-radius: 1.5rem;
    overflow: hidden;
    .col {
      width: 50%;
      height: 100%;
    }
    .col:nth-child(1) {
      background-image: url("../src/images/register.svg");
      background-color: black;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      h2 {
        color: white;
        text-align: center;
      }
    }
    .col:nth-child(2) {
      padding: 5rem 5rem;
      align-self: center;
    }
  }
  .links {
    text-align: center;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 100vh;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 5rem;
      &:hover {
        cursor: pointer;
      }
    }
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 2rem;
      }
      input {
        @include formInput();
        width: 100%;
      }
      button {
        @include button();
        width: 100%;
        margin: 3rem auto;
      }
      h3 {
        color: $pink;
        text-align: left;
        margin-bottom: 3rem;
        font-size: 4rem;
      }
  }
}
