* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: Poppins, sans-serif;
}

@media all and (max-width: 768px) {
  html {
    font-size: 54.5%;
  }
}
/*Titles*/
/*Content*/
/*Dashboard Page*/
.loginButton {
  filter: drop-shadow(4px 7px 0px #000000);
  background: white;
  font-family: "Poppins", sans-serif;
  padding: 0 5rem;
  font-weight: 400;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 1px solid black;
}
.loginButton:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px #000000);
  transition: all 0.3s;
  transform: translateY(5px);
}
.loginButton:focus {
  outline: none;
  filter: drop-shadow(0px 0px 0px #000000);
  transition: all 0.3s;
  transform: translateY(5px);
}

.dbButton {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 5rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
}
.dbButton:hover {
  cursor: pointer;
  border: 2px solid black;
  background: #FF7193;
  color: white;
}
.dbButton:focus {
  outline: none;
  filter: drop-shadow(0px 0px 0px #000000);
  transition: all 0.3s;
  transform: translateY(5px);
}

.features {
  width: 100%;
  max-width: 140rem;
  margin: 20rem auto 20rem auto;
  display: flex;
  padding: 0 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.features h1 {
  font-size: 5rem;
  width: 100%;
  max-width: 20%;
}
.features .cards {
  flex: 0 0 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
}
.features .cards .card:nth-child(2) {
  grid-row: 1/span 2;
}
.features .cards .card {
  border: 1px solid black;
  text-align: center;
  padding: 2rem 2.7rem;
  border-radius: 1rem;
}
.features .cards .card p {
  font-size: 1.8rem;
  margin-top: 1rem;
  line-height: 3.5rem;
}
.features .cards .card h3 {
  color: #71AAFF;
  font-size: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin: 6% auto 0 auto;
  width: 100%;
  height: 70rem;
  background-image: url("../src/components/page-specific/home/herobg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero button {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 5rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  width: auto;
  margin: 3rem auto 0 auto;
}
.hero button:hover {
  cursor: pointer;
  border: 2px solid black;
  background: #FF7193;
  color: white;
}
.hero button:focus {
  outline: none;
  filter: drop-shadow(0px 0px 0px #000000);
  transition: all 0.3s;
  transform: translateY(5px);
}
.hero h1 {
  font-size: 5rem;
  width: 100%;
  text-align: center;
  line-height: 7.3rem;
  max-width: 70rem;
  margin: 0 auto;
}
.hero .pink {
  color: #FF7193;
}

@media all and (max-width: 768px) {
  .features {
    flex-direction: column-reverse;
  }
  .features h1 {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .features .cards {
    grid-template-columns: 1fr;
    flex: 0 0 100%;
    grid-gap: 30px;
  }
}
.unpaid {
  color: #ff8282;
}

.paid {
  color: #77e277;
}

.newInvoice .newInvoiceContainer {
  position: relative;
  width: 100%;
  top: 15vh;
  max-width: 150rem;
  padding: 0 0 5rem 0;
  left: 16vw;
  height: 100%;
}
.newInvoice .newInvoiceContainer h1 {
  color: black;
  font-size: 4rem;
  width: 100%;
}
.newInvoice .newInvoiceContainer .downloadPdf {
  margin-top: 5rem;
  position: relative;
  z-index: 30;
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  background: #71AAFF;
  padding: 0 3rem;
}
.newInvoice .newInvoiceContainer .downloadPdf:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.newInvoice .newInvoiceContainer .downloadPdf:hover {
  background: #589bff;
}
.newInvoice .newInvoiceContainer .delete {
  background: #ff5656;
  padding: 1.2rem 0;
  color: white;
  border-radius: 1rem;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 4rem;
  transition: all 0.3s;
  height: 60%;
}
.newInvoice .newInvoiceContainer .delete:hover {
  cursor: pointer;
  background: #ff2323;
  transition: all 0.3s;
}
.newInvoice .newInvoiceContainer input {
  border: 2px solid black;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  width: 80%;
  margin: 1rem auto 0 auto;
  transition: all 0.3s;
  font-family: Poppins, sans-serif;
  width: 100%;
  margin: 0;
}
.newInvoice .newInvoiceContainer input:focus {
  border: 2px solid #FF7193;
  outline: 0;
  transition: all 0.3s;
}
.newInvoice .newInvoiceContainer input::placeholder {
  color: black;
  font-weight: bold;
}
.newInvoice .newInvoiceContainer input::placeholder {
  font-weight: normal;
}
.newInvoice .newInvoiceContainer .newInvoiceContent {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .terms {
  width: 100%;
  margin-top: 5rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col:nth-child(2) {
  flex: 0 0 45%;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col {
  flex: 0 0 45%;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col h2 {
  margin-bottom: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col .totalAmount {
  font-size: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col .tax {
  margin-bottom: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .miscInfo .col .amount {
  font-size: 3.5rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .addItem {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  padding: 0 4rem;
  margin-top: 3rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .addItem:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .col:nth-child(3) {
  flex: 0 0 100%;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .inputs-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .inputs-wrap .info-item {
  width: 95%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .inputs-wrap input {
  flex: 0 0 48.5%;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .inputs-wrap input::placeholder {
  font-weight: normal;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .headings {
  display: flex;
  justify-content: space-between;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .itemInfo .headings p {
  font-size: 1.5rem;
  font-weight: bold;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .col:nth-child(3), .newInvoice .newInvoiceContainer .newInvoiceContent .col:nth-child(4) {
  margin-top: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .col:nth-child(3) h2, .newInvoice .newInvoiceContainer .newInvoiceContent .col:nth-child(4) h2 {
  margin-bottom: 2rem;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .col {
  display: flex;
  flex: 0 0 49%;
  gap: 1rem;
  flex-direction: column;
}
.newInvoice .newInvoiceContainer .newInvoiceContent .col h2 {
  width: 100%;
  margin: 0;
}
.newInvoice .newInvoiceContainer textarea {
  border: 2px solid black;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  width: 80%;
  margin: 1rem auto 0 auto;
  transition: all 0.3s;
  font-family: Poppins, sans-serif;
  width: 100%;
  margin: 0;
  height: 10rem;
  resize: none;
}
.newInvoice .newInvoiceContainer textarea:focus {
  border: 2px solid #FF7193;
  outline: 0;
  transition: all 0.3s;
}
.newInvoice .newInvoiceContainer textarea::placeholder {
  color: black;
  font-weight: bold;
}
.newInvoice .newInvoiceContainer textarea::placeholder {
  font-weight: normal;
}

.invoices h1 {
  color: black;
  font-size: 4rem;
  width: 100%;
}
.invoices .cards {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 4rem;
}
.invoices .main-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.invoices .main-header h1 {
  max-width: 10rem;
}
.invoices .invoiceCard {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.3s;
  text-align: center;
  position: relative;
}
.invoices .invoiceCard .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.invoices .invoiceCard button {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  padding: 0;
  width: 100%;
  max-width: 46%;
  margin-top: 2rem;
}
.invoices .invoiceCard button:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.invoices .invoiceCard .statusBox {
  position: absolute;
  background: black;
  width: 100%;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  left: 0;
  top: -1.65rem;
  right: 0;
}
.invoices .invoiceCard .statusBox .icon {
  margin-right: 0.5rem;
}
.invoices .invoiceCard .status, .invoices .invoiceCard .amount, .invoices .invoiceCard .date, .invoices .invoiceCard .customer {
  font-weight: bold;
}
.invoices .invoiceCard .details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.invoices .invoiceCard .details p {
  flex: 1 0 45%;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
}
.invoices .invoiceCard .details p .icon {
  margin-right: 0.5rem;
}
.invoices .invoiceCard .amount {
  font-size: 1.3rem;
}
.invoices .invoiceCard .date {
  font-size: 1.3rem;
}
.invoices .invoiceCard h2 {
  color: #71AAFF;
  margin-top: 1rem;
}
.invoices .invoiceCard p.desc {
  line-height: 2.5rem;
  font-size: 1.4rem;
  height: 8rem;
  width: 100%;
  margin: 1.5rem auto 2.5rem auto;
}
.invoices .invoiceCard:hover {
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.01);
}

/*Edit Invoice*/
.editInvoiceContent {
  width: 100%;
  margin-top: 4rem;
}

/*Invoice pdf style*/
.invoiceTitle {
  font-size: 1.5rem;
  color: #71AAFF;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 100%;
  max-width: 25rem;
  top: 0;
  height: 100vh;
  background-color: black;
}
.sidebar .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  position: relative;
}
.sidebar .container .logout {
  background: #71AAFF;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  position: absolute;
  bottom: 10rem;
  transition: all 0.3s;
}
.sidebar .container .logout:hover {
  background: #3e8bff;
  cursor: pointer;
  transition: all 0.3s;
}
.sidebar .container .logout .icon {
  color: white;
  font-size: 1.5rem;
}
.sidebar .container .profile {
  margin-top: 5rem;
  text-align: center;
}
.sidebar .container .profile .navlinks {
  margin-top: 6rem;
}
.sidebar .container .profile .navlinks .active p {
  color: #71AAFF;
}
.sidebar .container .profile .navlinks .active::before {
  content: "";
  z-index: -1;
  left: 0;
  position: absolute;
  width: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 5rem;
  background: #71AAFF;
}
.sidebar .container .profile .navlinks .link {
  display: flex;
  margin-bottom: 1.9rem;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s;
}
.sidebar .container .profile .navlinks .link:hover {
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.5;
}
.sidebar .container .profile .info {
  margin-top: 2rem;
}
.sidebar .container .profile p {
  color: white;
  font-size: 1.8rem;
}
.sidebar .container .profile h4 {
  color: white;
  line-height: 2.8rem;
  font-size: 2.5rem;
}
.sidebar .container h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;
}
.sidebar .container h3:hover {
  cursor: pointer;
}

.MoneyMade {
  height: 60rem;
  flex: 0 0 70%;
}
.MoneyMade .moneyMadeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.MoneyMade .moneyMadeContainer .clientCard {
  border: 2px solid black;
  padding: 2rem;
  flex: 0 0 30%;
  text-align: center;
  border-radius: 1rem;
}
.MoneyMade .moneyMadeContainer .clientCard .details {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: column;
}
.MoneyMade .moneyMadeContainer .clientCard .details p {
  flex: 1 0 45%;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.4rem 1.2rem;
}
.MoneyMade .moneyMadeContainer .clientCard .details p .icon {
  margin-right: 0.5rem;
}
.MoneyMade .moneyMadeContainer .clientCard h2 {
  color: #71AAFF;
}

.InvoicesPaid {
  flex: 0 0 70%;
  height: 60rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.InvoicesPaid .invoicesContainer {
  padding: 2rem;
  position: relative;
}
.InvoicesPaid .invoicesContainer .record {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1rem;
  max-width: 100%;
  transition: all 0.3s;
  position: relative;
  padding: 2rem 0;
  margin: 2rem auto 2rem auto;
}
.InvoicesPaid .invoicesContainer .record::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.6s ease-in-out;
  background: black;
}
.InvoicesPaid .invoicesContainer .record p {
  flex: 0 0 25%;
  font-size: 1.5rem;
  transition: all 0.5s;
  text-align: center;
}
.InvoicesPaid .invoicesContainer .record:hover {
  transition: all 0.6s;
  cursor: pointer;
  transform: scale(0.99);
}
.InvoicesPaid .invoicesContainer .record:hover::before {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(1);
}
.InvoicesPaid .invoicesContainer .record:hover p {
  color: white;
  cursor: pointer;
}
.InvoicesPaid .invoicesContainer .col-headings {
  display: flex;
  justify-content: center;
  margin: 4rem auto 0 auto;
}
.InvoicesPaid .invoicesContainer .col-headings h3 {
  flex: 0 0 25%;
  text-align: center;
  justify-items: center;
}

.tabs-wrap {
  flex: 0 0 25%;
  height: 60rem;
  display: flex;
  flex-wrap: wrap;
}
.tabs-wrap .active-tab {
  width: 100%;
  background: black;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.tabs-wrap .active-tab p {
  color: white;
  font-size: 2rem;
}
.tabs-wrap .active-tab .tab-item-title {
  color: #71AAFF;
  font-weight: bold;
}
.tabs-wrap .tab-item {
  width: 100%;
  background: transparent;
  border: 2px solid black;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
  justify-content: center;
  transition: all 0.3s;
  align-items: center;
}
.tabs-wrap .tab-item::before {
  content: "";
  z-index: -1;
  position: absolute;
  transition: 0.5s ease-in-out;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  background: black;
}
.tabs-wrap .tab-item p {
  color: black;
  transition: all 0.3s;
  font-size: 2rem;
}
.tabs-wrap .tab-item .tab-item-title {
  color: #71AAFF;
  text-align: center;
  font-weight: normal;
}
.tabs-wrap .tab-item:hover {
  cursor: pointer;
  transform: scale(0.99);
}
.tabs-wrap .tab-item:hover p {
  color: white;
  transition: all 0.3s;
}
.tabs-wrap .tab-item:hover::before {
  transform-origin: bottom;
  transform: scaleY(1);
}

.dashboardHeader .container {
  position: relative;
  width: 100%;
  top: 15vh;
  max-width: 150rem;
  padding: 0 0 5rem 0;
  left: 16vw;
  height: 100%;
  height: auto;
  position: absolute;
  top: 3vh;
  justify-content: space-between;
  display: flex;
}
.dashboardHeader .container .notification {
  width: 5rem;
  height: 5rem;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  background: black;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.dashboardHeader .container .notification .icon {
  color: white;
  font-size: 1.8rem;
}
.dashboardHeader .container .notification:hover {
  background: #FF7193;
  transition: all 0.3s;
  cursor: pointer;
}

.overview .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
}
.overview .overviewContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}

.registerPage {
  width: 100%;
  height: 100%;
}
.registerPage .registerForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 110rem;
  height: 65rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  overflow: hidden;
}
.registerPage .registerForm .col {
  width: 50%;
  height: 100%;
}
.registerPage .registerForm .col:nth-child(1) {
  background-image: url("../src/images/register.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.registerPage .registerForm .col:nth-child(1) h2 {
  color: white;
  text-align: center;
}
.registerPage .registerForm .col:nth-child(2) {
  padding: 5rem 5rem;
  align-self: center;
}
.registerPage .links {
  text-align: center;
}
.registerPage .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  height: 100vh;
}
.registerPage .container h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.registerPage .container h2:hover {
  cursor: pointer;
}
.registerPage .container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
.registerPage .container input {
  border: 2px solid black;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  width: 80%;
  margin: 1rem auto 0 auto;
  transition: all 0.3s;
  font-family: Poppins, sans-serif;
  width: 100%;
}
.registerPage .container input:focus {
  border: 2px solid #FF7193;
  outline: 0;
  transition: all 0.3s;
}
.registerPage .container input::placeholder {
  color: black;
  font-weight: bold;
}
.registerPage .container button {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  width: 100%;
  margin: 3rem auto;
}
.registerPage .container button:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.registerPage .container h3 {
  color: #FF7193;
  text-align: left;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.loginPage {
  width: 100%;
  height: 100%;
}
.loginPage .loginForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 110rem;
  height: 60rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  overflow: hidden;
}
.loginPage .loginForm .col {
  width: 50%;
}
.loginPage .loginForm .col:nth-child(1) {
  background-image: url("../src/images/loginbg.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.loginPage .loginForm .col:nth-child(1) h2 {
  color: white;
  text-align: center;
}
.loginPage .loginForm .col:nth-child(2) {
  padding: 5rem 5rem;
  align-self: center;
}
.loginPage .container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.loginPage .container h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.loginPage .container h2:hover {
  cursor: pointer;
}
.loginPage .container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
}
.loginPage .container a:hover {
  color: #FF7193;
  transition: all 0.3s;
}
.loginPage .container .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loginPage .container input {
  border: 2px solid black;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  width: 80%;
  margin: 1rem auto 0 auto;
  transition: all 0.3s;
  font-family: Poppins, sans-serif;
  width: 100%;
}
.loginPage .container input:focus {
  border: 2px solid #FF7193;
  outline: 0;
  transition: all 0.3s;
}
.loginPage .container input::placeholder {
  color: black;
  font-weight: bold;
}
.loginPage .container button {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  width: 100%;
  margin: 3rem auto;
}
.loginPage .container button:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.loginPage .container h3 {
  color: #FF7193;
  text-align: left;
  margin-bottom: 3rem;
  font-size: 4rem;
}

@media all and (max-width: 1750px) {
  html {
    font-size: 58%;
  }
}
@media all and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .dashboardHeader {
    width: 100%;
  }
  .dashboardHeader .container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .invoices .invoicesContainer {
    max-width: 100%;
    margin: 0 auto;
    left: 50%;
    padding: 0 2rem;
    transform: translateX(-50%);
  }
  .invoices .invoicesContainer .cardWrap {
    flex: 1 0 48%;
    gap: 2rem;
  }

  .overview .container {
    max-width: 100%;
    margin: 0 auto;
    left: 50%;
    padding: 0 2rem;
    transform: translateX(-50%);
  }
  .overview .container .overviewContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overview .container .overviewContent .MoneyMade {
    width: 100%;
    flex: 0 0 100%;
    margin: 5rem auto 0 auto;
  }
  .overview .container .overviewContent .MoneyMade .moneyMadeContainer {
    gap: 2rem;
  }
  .overview .container .overviewContent .MoneyMade .moneyMadeContainer .clientCard {
    flex: 1 0 48%;
  }
  .overview .container .overviewContent .InvoicesPaid {
    width: 100%;
    flex: 0 0 100%;
    margin: 5rem auto 0 auto;
  }
  .overview .container .overviewContent .tabs-wrap {
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
    height: auto;
  }
  .overview .container .overviewContent .tabs-wrap .tab-item, .overview .container .overviewContent .tabs-wrap .active-tab {
    height: 13rem;
    flex: 1 0 48%;
    margin-bottom: 0;
  }
}
.header {
  width: 100%;
  max-width: 140rem;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.header h1 {
  font-weight: bold;
}

.pdfPage {
  position: relative;
  width: 100%;
  top: 15vh;
  max-width: 150rem;
  padding: 0 0 5rem 0;
  left: 16vw;
  height: 100%;
  height: 90rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flipCaret {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.pageContainer {
  position: relative;
  width: 100%;
  top: 15vh;
  max-width: 150rem;
  padding: 0 0 5rem 0;
  left: 16vw;
  height: 100%;
}

.dropdown {
  width: 100%;
  max-width: 13rem;
  position: relative;
  z-index: 10;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown .main {
  background: black;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.dropdown .menu {
  padding: 1rem 1.8rem;
  position: absolute;
  text-align: left;
  top: 4rem;
  background: white;
  width: 100%;
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 0.7rem;
}
.dropdown .menu p {
  color: black;
  padding: 0.4rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.3s;
}
.dropdown .menu p:hover {
  cursor: pointer;
  color: #71AAFF;
  transition: all 0.3s;
}
.dropdown .icon {
  color: white;
}
.dropdown p {
  color: white;
}

h1 {
  color: black;
  font-size: 4rem;
}

.searchBox {
  position: relative;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.8rem;
  padding: 1rem;
}
.searchBox .icon {
  position: absolute;
  top: 1.5rem;
  right: 1.3rem;
  font-size: 2rem;
}
.searchBox input {
  width: 100%;
  max-width: 24rem;
  outline: 0;
  border: 0;
  transition: all 0.3s;
  font-weight: bold;
  color: black;
  font-family: Poppins, "sans-serif";
}
.searchBox input::placeholder {
  color: black;
  font-weight: bold;
}
.searchBox input:focus {
  outline: 0;
  transition: all 0.3s;
}

.button {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 7rem;
  height: 5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 2px solid black;
  background: #71AAFF;
  padding: 0 3rem;
}
.button:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #FF7193;
}
.button:hover {
  background: #589bff;
}

.disabledButton {
  background-color: #767676 !important;
}
.disabledButton:hover {
  cursor: not-allowed !important;
}

.pink {
  color: #FF7193;
}

.green {
  color: #01c101;
}

.form-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

footer {
  background: black;
}
footer .container {
  padding: 10rem 2rem;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .col:nth-child(1) p {
  margin-top: 0.5rem;
}
footer .col .list {
  display: inline-block;
  margin: 0 5rem;
}
footer .col .list ul {
  margin-top: 2rem;
}
footer h3 {
  font-size: 3rem;
}
footer p, footer li {
  font-size: 1.5rem;
}
footer p, footer h3, footer li {
  color: white;
}
footer li {
  list-style: none;
  line-height: 3rem;
}

@media all and (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .col:nth-child(2) {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
  }
  footer .container .col:nth-child(2) .list:nth-child(2) {
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
